html {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/640px-NGC_4414_%28NASA-med%29.jpg");
}

header h1 {
  background-color: rgb(188, 194, 250);
  color: black;
  padding: 1rem 3rem;
  font-size: 5rem;
  text-align: center;
  border-radius: 01rem;
  text-shadow: 5px 2px rgb(112, 112, 197);
}

h2 {
  font-size: 2.5rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 2rem;
  width: 70%;
  margin-left: 100px;
  margin-right: 100px;
}

h4 {
  font-size: 1.5rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  font-size: 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

body p {
  transition: all 0.3s ease;
  background-color: #fff;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  cursor: pointer;
  border: 1px solid rgb(134, 134, 134);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

body p:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

footer {
  background-color: rgb(158, 161, 202);
  padding: 3rem;
  color: rgb(0, 0, 0);
  border-radius: 0.5rem;
}

footer p {
  margin: 0;
}

footer a {
  transition: color 0.3s ease;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

footer a:hover {
  color: rgb(0, 0, 0);
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  width: 800px;
  margin: 0 auto;
}

.tab {
  overflow: hidden;
  border: 1px solid rgb(188, 194, 250);
  background-color: #bcc4fb;
  width: 800px;
  margin: 0 auto;
  border-radius: 0.3rem;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(183, 175, 219);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(183, 175, 219);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0.25rem 0;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(187, 190, 214);
  border-top: none;
  border-radius: 0.5rem;
  width: 800px;
  margin: 1rem auto;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

#hierro {
  display: block;
  margin-right: 50px;
  margin-left: 50px;
}
#atomo {
  display: block;
  margin-left: 250px;
}

#Sistema {
  display: block;
  margin-left: 150px;
}

#solar {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 150px;
  color: midnightblue;
}
#planets {
  margin-left: 250px;
  color: midnightblue;
  font-size: xx-large;
}
#Planetas {
  display: block;
  margin-left: 100px;
  margin-right: 500px;
}

#palabra {
  font-size: 1rem;
  width: 20%;
  margin-left: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: midnightblue;
}

#tabla {
  display: block;
  margin-left: 150px;
}

#espectro {
  display: block;
  margin-left: 250px;
}

#ondas {
  display: block;
  margin-left: 150px;
}
#electro {
  margin-left: 150px;
}
#emision {
  display: block;
  margin-left: 90px;
}
#basal {
  font-size: 1rem;
  width: 20%;
  margin-left: 160px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: midnightblue;
}
#luz {
  display: block;
  margin-left: 70px;
  margin-right: 70px;
}
#visible {
  font-size: 1rem;
  width: 20%;
  margin-left: 200px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: midnightblue;
}
#ciencia {
  display: block;
  margin-left: 250px;
}
#sustancia {
  display: block;
  margin-left: 150px;
}
#composition {
  font-size: xx-large;
  margin-left: 120px;
  color: midnightblue;
}
#system {
  font-size: large;
  margin-left: 120px;
  color: black;
}
#terrestres {
  display: block;
  margin-left: 70px;
}
#gigantes {
  display: block;
  margin-left: 70px;
}
#gaseosos {
  display: block;
  margin-left: 70px;
}
#hielo {
  display: block;
  margin-left: 70px;
}
#stars {
  font-size: xx-large;
  margin-left: 120px;
  color: midnightblue;
}
#sun {
  font-size: xx-large;
  margin-left: 120px;
  color: midnightblue;
}
#estrellas {
  display: block;
  margin-left: 70px;
}
#sol {
  display: block;
  margin-left: 70px;
}
